In [1]:
import pandas as pd
import numpy as np

pd.options.display.max_rows = 100
pd.options.display.max_columns = 999

# Membuat Fungsi Klasifikasi
Dalam fungsi ini akan berisi syntax yang digunakan untuk melakukan klasifikasi data pada kolom "text", dengan cara melakukan filter terhadap kata kunci yang sudah disesuaikan untuk masing-masing klasifikasi.

In [2]:
def Klasifikasi(mode):
    a = (df["text"].str.contains("WNI")) | (df["text"].str.contains("Dokumen")) | (df["text"].str.contains("#NegaraMelindungi")) | (df["text"].str.contains("#Covid19"))
    b = (df["text"].str.contains("Hubungan Diplomatik")) | (df["text"].str.contains("Hubungan Bilateral")) | (df["text"].str.contains("Kerja sama")) | (df["text"].str.contains("#IniDiplomasi")) | (df["text"].str.contains("#SahabatKemlu")) | (df["text"].str.contains("#MenluRetno")) | (df["text"].str.contains("#FMMarsudi")) | (df["text"].str.contains("#RintisKemajuan")) | (df["text"].str.contains("#BatikDiplomacy")) | (df["text"].str.contains("#IndonesianWay")) | (df["text"].str.contains("#DigitalDiplomacy")) | (df["text"].str.contains("#DiplomasiKuliner"))
    c = (df["text"].str.contains("UN / United Nation")) | (df["text"].str.contains("ASEAN")) | (df["text"].str.contains("Kerjasama Multilateral")) | (df["text"].str.contains("Rohingya")) | (df["text"].str.contains("Palestina")) | (df["text"].str.contains("Suriah")) | (df["text"].str.contains("Irak")) | (df["text"].str.contains("ISIS")) | (df["text"].str.contains("#IndonesiaUntukDunia")) | (df["text"].str.contains("#CounterTerrorism")) | (df["text"].str.contains("#DiplomacyforPeaceandProsperity"))
    d = (df["text"].str.contains("Papua")) | (df["text"].str.contains("Sawit")) | (df["text"].str.contains("Perbatasan")) | (df["text"].str.contains("Demokrasi Indonesia")) | (df["text"].str.contains("#BaliDemocracyForum"))
    
    if mode == "A":
        filt = a
    elif mode == "B":
        filt = b
    elif mode == "C":
        filt = c
    elif mode == "D":
        filt = d
    elif mode == "Total":
        filt = (a | b | c | d)
        
    return df.loc[filt][["screen_name","text","jumlah_rt_like","lang"]]


def Percent_to_Binning(mode):
    # bins = 0-49%, 50-69%, 70-84%, 85-100%
    bins = [0, 49, 69, 84, 100]
    
    # nama label binning
    labels_name = ["Ineffective", "Adequate", "Moderately Effective", "Effetive"]
    
    hasil_clf = Klasifikasi(mode)
    
    if mode == "A":
        hasil_clf["klasifikasi"] = "A"
    elif mode == "B":
        hasil_clf["klasifikasi"] = "B"
    elif mode == "C":
        hasil_clf["klasifikasi"] = "C"
    elif mode == "D":
        hasil_clf["klasifikasi"] = "C"
    
    # tambahkan kolom "percent" yang berisi percent jumlah retweet dan like terhadap jumlah maksimal
    hasil_clf["percent"] = hasil_clf["jumlah_rt_like"] / hasil_clf["jumlah_rt_like"].max() * 100
    
    # tambahkan kolom "scoring_to_clf" yang berisi binning dari data percent
    hasil_clf["scoring_to_clf"] = pd.cut(hasil_clf["percent"], bins, labels=labels_name)
    
    return hasil_clf

Dalam notebook kali ini, saya akan melakukan cleaning data kembali. Digunakan untuk mengurangi jumlah data dari 59rb data menjadi sekitar 18rb data. Data hasil cleaning adalah data yang sudah dipastikan masuk dalam klasifikasi.<br>
Karena pada data sebelumnya yang berjumlah 59rb data, tidak semua data tersebut masuk ke dalam klasifikasi, hanya 18rb data yang dipastikan masuk dalam klasifikasi.<br>

# Import Datasets
Import datasets file gabungan yang berjumlah 59rb

In [3]:
df = pd.read_csv("gabungan_file.csv")
df.drop(columns="Unnamed: 0", inplace=True)

# Tambahkan kolom baru "jumlah_rt_like" yang berisi jumlah retweet + jumlah like
df["jumlah_rt_like"] = df["retweet_count"] + df["favorite_count"]

# df baru adalah semua data yang masuk klasifikasi
df = Klasifikasi("Total")

# bikin index ulang.
df = df.reset_index()

# hapus colom index lama.
df.drop(columns="index", inplace=True)

# tampilkan df
df

,screen_name,text,jumlah_rt_like,lang
0,IndonesiaHanoi,“History has taught us that crisis may also cr...,41,en
1,IndonesiaHanoi,@IndonesiaHanoi will organize an Online Sessio...,2,en
2,IndonesiaHanoi,#HAPPYASEANDAY2020 : ASEAN Foreign Minister re...,33,en
3,IndonesiaHanoi,"On 7/8, Ambassador Ibnu Hadi attended the ASEA...",8,en
4,IndonesiaHanoi,The ASEAN caught up with four older individual...,4,en
...,...,...,...,...
18947,kbrisingapura,Good Morning! We would like to start the day b...,44,en
18948,kbrisingapura,"11. Sejak dilakukannya intensifikasi evakuasi,...",12,in
18949,kbrisingapura,10. 2 diplomat&amp; WNI yang terluka telah men...,10,in
18950,kbrisingapura,9. Kemlu telah menginstruksikan kepada KBRI da...,8,in
18951,kbrisingapura,8. KBRI Sana’a menginformasikan saat ini terda...,10,in

# Hasil Percent dan Binning data
buat dataFrame baru yang berisi data untuk masing-masing klasifikasi, kemudian gabungkan semua data klasifikasi tersebut menjadi satu dataFrame baru.

In [19]:
a = Percent_to_Binning("A")
b = Percent_to_Binning("B")
c = Percent_to_Binning("C")
d = Percent_to_Binning("D")

df_ab = pd.merge(a, b, how="outer")
df_cd = pd.merge(d, c, how="outer")
df_baru = pd.merge(df_ab, df_cd, how="outer")

In [16]:
df_baru

,screen_name,text,jumlah_rt_like,lang,klasifikasi,percent,scoring_to_clf
0,IndonesiaHanoi,Global update on #COVID19 and Indonesian citiz...,1,en,A,0.010311,Ineffective
1,IndonesiaHanoi,Global update on #COVID19 and Indonesian citiz...,1,en,A,0.010311,Ineffective
2,IndonesiaHanoi,"Hai #SahabatKemlu, yuk simak persembahan #Teri...",60,in,A,0.618684,Ineffective
3,IndonesiaHanoi,Global update on #COVID19 and Indonesian citiz...,2,en,A,0.020623,Ineffective
4,IndonesiaHanoi,Global update on #COVID19 and Indonesian citiz...,7,en,A,0.072180,Ineffective
...,...,...,...,...,...,...,...
23184,kbrisingapura,"Delri (Kemensos) hadiri ""Long-term Care for El...",1,en,C,0.002920,Ineffective
23185,kbrisingapura,Delri dipimpin Jusuf Wanandi didampingi Asdep ...,1,in,C,0.002920,Ineffective
23186,kbrisingapura,MinCouns Tjoki S. mewakili Dubes RI dihadapan ...,1,in,C,0.002920,Ineffective
23187,kbrisingapura,Kesiapan Indonesia Menghadapi Masyarakat ASEAN...,1,in,C,0.002920,Ineffective
23188,kbrisingapura,https://t.co/NXi7nLvi2t Photo: US-ASEAN Summit...,1,en,C,0.002920,Ineffective

In [17]:
df_baru["klasifikasi"].value_counts()

B    12877
C     5598
A     4714
Name: klasifikasi, dtype: int64

In [21]:
df_cd["klasifikasi"].value_counts()

C    5598
Name: klasifikasi, dtype: int64